@page
@model BootstrapSample.Pages.Sample12Model
@{
}

<div class="container">
    <div class="row">


        <div class="col-4 col-lg-2 col-sm-8">One</div>
        <div class="col-4 col-lg-2 col-sm-4">Two</div>
        <div class="col-4 col-lg-2  col-sm-8">Three</div>
        <div class="col-8 col-lg-2 ">Four</div>
        <div class="col-4 col-lg-2 ">Five</div>
        <div class="col-12 col-lg-2 ">Six</div>
    </div>
</div>

